@import "tailwindcss";
@import "moly-ui/themes/default.css";

@layer base {
  button:not(:disabled),
  select,
  summary,
  input[type="checkbox"],
  label:has(input[type="checkbox"]) {
    cursor: pointer;
  }
}
